bind ? help
bind s promptSearch
bind q killBuffer
bind Q quit

bind search n nextEntry
bind search down nextEntry
bind search p prevEntry
bind search up prevEntry
bind search N pageDown
bind search pgdn pageDown
bind search space  pageDown
bind search P pageUp
bind search pgup pageUp
bind search < firstEntry
bind search > lastEntry
bind search a archive
bind search o toggleSort
bind search l filterSearch
bind search meta-S copySearch
bind search T promptTag
bind search = refresh
bind search B viewBibtex

bind document enter viewFile
bind document u viewURL
bind document b viewBibtex
bind document t promptTag
bind document + addTags
bind document - removeTags
bind document meta-i copyID
bind document meta-u copyURL
bind document meta-b copyBibtex
bind document meta-k copyKey
bind document meta-f copyPath

bind bibview space pageDown
